############

# Ignore RStudio project files
.Rproj.user/
.Rhistory
.RData

# Ignore renv library and cache
renv/library/
renv/cache/
renv/staging/

# Ignore generic config.yml file
config.yml

# Ignore all contents of analyses/projects
analyses/projects/*

# Unignore eth-2016-tutorial directory itself so nested rules can apply
!analyses/projects/eth-2016-tutorial/

# Ignore everything inside eth-2016-tutorial by default
analyses/projects/eth-2016-tutorial/**

# But don't ignore the data directory and config.yml
!analyses/projects/eth-2016-tutorial/data/
!analyses/projects/eth-2016-tutorial/data/**
!analyses/projects/eth-2016-tutorial/config.yml
