############

# Ignore RStudio project files
.Rproj.user/
.Rhistory
.RData

# Ignore renv library and cache
renv/library/
renv/cache/
renv/staging/

# Ignore generic config.yml file
config.yml

# Ignore files for a specific project
analyses/projects/*
!analyses/projects/
!analyses/projects/eth-2016-tutorial/config.yml



