############

# Ignore RStudio project files
.Rproj.user/
.Rhistory
.RData

# Ignore renv library and cache
renv/library/
renv/cache/
renv/staging/

# Ignore files for ETH workshop
.Rprofile
renv/*
renv.lock
config.yml

